<h1>Available Books</h1>
<% if @books.blank? %>
	<p>Sorry, there are no books whose title or author match <strong><%= params[:search] %></strong></p>
<%else%>
	<table>
		<% @books.each do |book| %>
			<tr>
				<td><%= book.title %></td>
				<td><%= link_to "View", book_path(book) %></td>
				<td><%= link_to "Edit", edit_book_path(book) %></td>
			</tr>
		<%end%>
	</table>
<%end%>